
* 
{
    margin: 0;
    padding: 0;
}

body
{
    background: black;
    
}
/* LOADING  */
.loadingText 
{
    position: absolute;
    color: white;
    top: 34%;
    left: 44%;
    font-size: 30pt;
    font-family: Open Sans Condense;
    font-style:italic;
}
.loadingDots 
{
    position: absolute;
        
}
.loadingBorder
{
    position: absolute;
    width: 300px;
    height: 7px;
    border: 2px solid white;
    top: 50%;
    left: 38%;
}

.loadingBar
{
    position: absolute;
    width: 0px;
    height: 7px;
    background: white;
    animation: loadingBar 2.7s cubic-bezier(0.91, 1.05, 1, 1) infinite;
}

@keyframes loadingBar 
{
    0% {width:0%;}
    50% {width:50%;}
    100% {width:100%;}
}

/*
.circle 
{
    position: absolute;
    background: transparent;
    border: #868686 1.65px solid;
    border-radius: 80%;
    width: 118px;
    height: 943px;
    top: -20%;
    transform: rotateY(-39deg) rotateZ(55deg);
    transition-property: all;
}

.circlePos1
{
    left: 61%;
}

.circlePos1:hover 
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;
    transition-delay: 3s;   
}

.circlePos2
{
    left: 62.5%;
}

.circlePos2:hover 
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;
}

.circlePos3
{
    left: 64%;
}

.circlePos3:hover 
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;

}

.circlePos4
{
    left: 65.5%;
}

.circlePos4:hover 
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;
}

.circlePos5
{
    left: 67%;
}

.circlePos5:hover
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;
}

.circlePos6
{
    left: 68.5%;
}

.circlePos6:hover
{
    border: #dfdfdf 1.85px solid;
    box-shadow: 0 0 1em white ;
}

*/